
.bg-silver {
    background-color: silver;
}

.bg-gray {
    background-color: gray;
}

.bg-09c {
    background-color: rgb(195, 221, 101);
}

.bg-orange {
    background-color: orange;
}

.bg-yellow {
    background-color: yellow;

}